{# base.html.twig #}
<!DOCTYPE html>
<html lang="fr" class="h-full w-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}BeatHub{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="" />
        <!-- Core theme CSS (includes Tailwind)-->
        {% block css %}{% endblock %}
    </head>
    <body class="h-full w-full">
        <!-- Section-->
        {% block body %}{% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-gray-800 flex justify-center">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BeatHub 2023</p></div>
        </footer>

        <!-- Core theme JS-->
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="js/scripts.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>